.header {
  display: flex;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  z-index: 5;
  justify-content: space-between;
  // backdrop-filter: blur(4px);

  h1 {
    font-weight: bold;
    font-size: larger;
  }
  span {
    color: #fff;
    font-weight: 500;
    font-size: medium;
  }
}
